<ion-view view-title="Fitrrati">
  <!-- <ion-content> -->
    <!-- <ion-list> -->
      <!-- <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> -->
      <iframe id="fit-iframe" src="http://lakshimi.net:8004/widget?cid=10368&rid=100000&sid=548465&access_token=1aaabbb&availablesizes=M-12345,L-98765&title=People%20Women%20Charcoal%20Grey%20Tops&img=http://assets.myntassets.com/h_480,q_95,w_360/v1/images/style/properties/People-Women-Charcoal-Grey-Tops_dbaba52078e8d371a20a5283d1c5a7c9_images_mini.jpg" height="100%" width="100%" scrolling="no"></iframe>
    <!-- </ion-list> -->
  <!-- </ion-content> -->
</ion-view>
